<footer>
  <div id="footer">
    <p class="text-muted credit">
    
        <div class="btn-group" id='float-left'>
            <button id='button-left' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <img id='gear' src='/icons/setting.png'> <span id="span-this"> Norway, Borealis </span>
            </button>
            <ul class="dropdown-menu drop-up" role="menu">
                <% if current_user.nil? == false %>
                <li><a href="#"><%= current_user.email%></a></li>
                <% end %>
                <li class="divider"></li>
                <li><% if current_user.nil?%>
                      <%= link_to "Sign In", login_path %>
                    <% else %>
                      <%= link_to "Sign Out", logout_path %>
                    <% end %>
                </li>
            </ul>
        </div>

        <div class="btn-group" id='float-right'>
          <% if current_user.nil? %>
                  <img id='notepad' src='/icons/notepad2.png' > Sign In !
          <% else %>
              <a href="/users/<%= current_user.id %>/lists/new"> <img id='notepad' src='/icons/notepad2.png' ></a>
          <% end %>
        </div>
    </p>
  </div>
</footer>


<script>
  $( "#button-left" ).click(function() {
    $('#gear').animate({  borderSpacing: -90 }, {
      step: function(now,fx) {
        $(this).css('transform','rotate('+now+'deg)');  
      },
      duration:'slow'
    },'linear');

  });
</script>
